.nav a{
    color: #000;
    font-weight: 400;
    padding-left: 100px;
    padding-right: 10px;
    background-color: hsl(330, 60%, 55%);
   font-size: medium;
   padding-left: 100px;
  align-items: center;
    
}

.donutButton {
    background-color: #d60c2d;
    color: #1d0606;
    cursor: pointer;
    padding: 10px;
    width: 25%;
    border: 1px;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.collapsible {
    background-color: #d60c2d;
    color: #f7f5f5;
    cursor: pointer;
    padding: 10px;
    width: 25%;
    border: 1px;
    text-align: left;
    outline: none;
    font-size: 20px;
}
.button {
    background-color: #d60c2d;
    color: #ece2e2;
    cursor: pointer;
    padding: 10px;
    width: 25%;
    border: 1px;
    text-align: left;
    outline: none;
    font-size: 20px;
}

